@using PublishR
@model PublishR.Mvc.BCommerce.Models.HomePageModel

@{
    ViewBag.Title = "BCommerce App";
    Layout = "../Shared/_Layout.cshtml";
}
<h2>BCommerce App</h2>
<table id="productsTable">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products) {
            <tr data-row-id="@product.Id">
                <td>@product.Name</td>
                <td><a id="lnkDeleteProduct" data-id="@product.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
<br />
<input type="text" id="fireTxt" />
<a id="lnkCreateProduct">Create Sample Product</a>
<br />
<strong>MESSAGES</strong>
<ul id="messageList">
</ul>

@section scripts
{
    <script src="~/Scripts/jquery.signalR-1.0.1.js"></script>
    <script src="~/signalr/hubs"></script>

    <script type="text/javascript">
        $(function () {
            var hub = $.connection.@Defaults.PUBLISHR_HUB_NAME;
            $.extend(hub.client, {
                logMessage: function (data) {
                    $("#messageList").append("<li>" + data.Message + " : " + data.ProductId + "</li>");
                }
            });

            $.connection.hub.start()
                .done(function () {
                    console.log("Connected!");
                })
                .fail(function () {
                    console.log("Could not Connect!");
                });

            $("#lnkCreateProduct").click(function () {
                $.post("@Url.Action("CreateProduct")", { productName: $("#fireTxt").val() });
            }); 
            $("#lnkDeleteProduct").click(function () {
                $.post("@Url.Action("DeleteProduct")", { productId: $(this).data("id")});
                $(this).closest("tr").remove();
            });
        });
    </script>
}
